<div class="container">
    <div class="row">
      <div class="col-7" style="margin-left: 5%;">
        <h3>Dodajte informacije o proizvodu</h3>
        <br />
        <form #f="ngForm" (ngSubmit)="save(f.value)">
          <div class="form-group">
            <input
              #title="ngModel"
              [(ngModel)]="product.title"
              name="title"
              id="title"
              type="text"
              class="form-control"
              placeholder="Naziv"
              required
            />
            <div style="width: 70%;"
              class="alert alert-warning"
              *ngIf="title.touched && title.invalid"
            >
            Polje za unos naziva proizvoda je obavezno.
              <br />
            </div>
          </div>
          <br />
          <div class="form-group">
            <div class="input-group" style="width: 70%;">
              <span class="input-group-text">RSD</span>
              <input
                
                #price="ngModel"
                [(ngModel)]="product.price"
                name="price"
                id="price"
                type="number"
                class="form-control"
                required
                min="0"
                placeholder="Cena"
                
              />
            </div>
            <div style="width: 70%;"
              class="alert alert-warning"
              *ngIf="price.touched && price.invalid"
            >
              <div *ngIf="price.hasError('required')">
                Polje za unos cene proizvoda je obavezno.
              </div>
              <div *ngIf="price.hasError('min')">
                Cena mora biti veća od 0 RSD.
              </div>
            </div>
          </div>
          <br />

          <div class="form-group">
            
            <div class="input-group" style="width: 70%;">
              <input
                
                #velicina="ngModel"
                [(ngModel)]="product.velicina"
                name="velicina"
                id="velicina"
                type="text"
                class="form-control"
                required
                placeholder="Veličina"
               
                
              />
            </div>
            <div style="width: 70%;"
              class="alert alert-warning"
              *ngIf="velicina.touched && velicina.invalid"
            >
              <div *ngIf="price.hasError('required')">
                Polje za unos veličine je obavezno.
              </div>
            
            </div>
          </div>
          <br />

          <div class="form-group">
    
            <div class="input-group" style="width: 70%;">
              
              <input
                
                #opis="ngModel"
                [(ngModel)]="product.opis"
                name="opis"
                id="opis"
                type="text"
                class="form-control"
                required
                placeholder="Opis"
               
                
              />
            </div>
            <div style="width: 70%;"
              class="alert alert-warning"
              *ngIf="opis.touched && opis.invalid"
            >
              <div *ngIf="price.hasError('required')">
                Polje za unos opisa proizvoda je obavezno.
              </div>
          
            </div>
          </div>
          <br />

        

          <div class="form-group">
            <label for="category">Kategorija proizvoda</label>
            <select
              #category="ngModel"
              [(ngModel)]="product.category"
              name="category"
              id="category"
              type="text"
              class="form-control"
              
              required
              style="width: 70%;"
            >
              <option value=""></option>
              <option *ngFor="let c of categories$" [value]="c.key">
                {{ c.payload.val().name }}
              </option>
            </select>
            <div style="width: 70%;"
              class="alert alert-warning"
              *ngIf="category.touched && category.invalid"
            >
            Polje za odabir kategorije proizvoda je obavezno.
            </div>
          </div>
          <br />
          <div class="form-group">
    
            <input
              #imageUrl="ngModel"
              [(ngModel)]="product.imageUrl"
              name="imageUrl"
              id="imageUrl"
              type="text"
              class="form-control"
              required
              placeholder="URL slike proizvoda"
            />
            <div style="width: 70%;"
              class="alert alert-warning"
              *ngIf="imageUrl.touched && imageUrl.invalid"
            >
              <div *ngIf="imageUrl.hasError('required')">
                Polje za unos URL-a slike proizvoda je obavezno.
              </div>
            
            </div>
          </div>
          <br />
          <button class="btn btn-secondary me-2">Sačuvaj</button>
          <button type="button" (click)="delete()" class="btn btn-primary">
            Obriši
          </button>
        </form>
      </div>
      <div class="col-4">
        <div class="card" style="margin-top: 70px;">
          <img
            class="card-img-top"
            [src]="product.imageUrl"
            *ngIf="product.imageUrl"
          />
          <div class="card-body">
            <h4 class="card-title">{{ product.title }}</h4>
            <p class="card-text">Cena : {{ product.price  }} RSD</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
