.row{
    position: static;
}
img{
    
    width: 25%;
    height: 15%;
}
.row{
    justify-content: center;
}
h3{
    margin-top: 20px;
    margin-bottom: 30px;
}

.block{
    width: 50%;
    height: 40%; 
}

strong { font-weight: bold; }

p, h5{
    text-align: center;
}