<hr>
<div class="row">
  <div class="col-3">
    <h5>Lokacija</h5>
    <p>
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      <a href="https://www.google.com/maps/place/Kaplara+Mom%C4%8Dila+Gavri%C4%87a+5,+Beograd/@44.760533,20.4853838,17z/data=!3m1!4b1!4m5!3m4!1s0x475a711d7b3a0b43:0x9d94ad125ad20db0!8m2!3d44.7605292!4d20.4875725"> Kaplara Momčila Gavrića 5</a> 
    </p>
    <br>
    <br />
    <p> <strong> &#169; Merilegend 2022 </strong></p>
  </div>
  <div class="col-3">
    <h5>Kontakt</h5>
    <p>
      <i class="fa fa-envelope" aria-hidden="true"></i>
     <a href="mailto:someone@something.com">merilegendShop@gmail.com</a> 
    </p>
    <p>
      <i class="fa fa-phone" aria-hidden="true"></i>
      <a href="tel:0644851058" onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});">064/485-1058</a>
    </p>
    <p>
      <i class="fa fa-phone" aria-hidden="true"></i>
      <a href="tel:0113652551" onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});">011/365-2551</a>
    </p>
  </div>

  <div class="col-3">
    <h5>Način plaćanja</h5>
    <p>Gotovina, platne kartice</p>
    &nbsp; &nbsp; &nbsp;

    <img class="block" src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX13951432.jpg" alt="">
  </div>

  <div class="col-3">
    <img  src="./assets/thisLogoo.png" alt="" />

  </div>
</div>

