h4{
    text-align: center;
    color: #c8824d;
}
 h2, h5{
    text-align: center;
    color: #844616;
}

i{
    color: #844616;
}

i:hover{
    color: #3e1e05;
}

img{
    width: 400px;
    height: 300px;

}

p{
    text-align: center;
}

.block{
    width: 700px;
    height: 150px;
} 

.slika{
    width: 300px;
    height: 100px;
}

