<br>
<h2>Dobrodošli u Merilegend - podršku!</h2>
<h5>Sve odgovore u vezi sa Merilegend beauty lab-om možete pronaći ovde.</h5>
<hr>
<br>

<div>
    <h4>Kako funkcioniše online poručivanje?
        <i class="fa fa-caret-down fa-lg" (click)="toggleData()"></i>
</h4>
</div>
<div *ngIf="toDisplay">
    <p>Naša  internet prodavnica organizovana je na takav način da Vam omogućava da lako i jednostavno pronađete proizvode koje tražite i da izvršite kupovinu, a da ne morate izlaziti iz kuće.
        Robu je moguće naručiti 24 sata na dan, 7 dana u nedelji.
        <br> Za detalje korišćenja naše internet prodavnice, molimo da pročitate ovo kratko uputstvo.
        <br>
        <br>
        Nakon što ste se ulogovali na sajt, prikazana Vam je stranica sa proizvodima. Moguće je izlistati ih po kategorijama. 
        Nakon odabira željenog proivoda, potrebno je da isti dodate u korpu, klikom na dugme "Dodaj  korpu". Potom, na ikonici koja predstavlja vašu korpu, možete videti 
        izabrane proizvode. Dugme "Nastavite sa plaćanjem" vodi Vas na stranicu za popunavanje neohpodnih podataka za poručivanje i plaćanje.
        </p>
</div>

<div>
    <h4>Koliko dana je potrebno da porudžbina stigne?
    <i class="fa fa-caret-down fa-lg" (click)="toggleData1()"></i>
</h4>
</div>
<div *ngIf="toDisplay1">
    <p>Pošiljke za grad Beograd, šaljemo istog dana. Sve porudžbine koje su stigle od 00:00 h do 15:00 h se isporučuju dan posle.
        Pošiljke za ostale gradove, šaljemo narednog dana. Sve porudžbine koje su stigle od 00:00 h do 15:00 h se isporučuju nakon 48h.
    </p>
    
</div>
 
<div>
    <h4>Kako da stignete do nas?
    <i class="fa fa-caret-down fa-lg" (click)="toggleData2()"></i>
</h4>
</div>
<div *ngIf="toDisplay2">
    <p>Ukoliko želite da proizvode pogledate u našim radnjama, to možete uraditi na sledeće dve lokacije. <br>
        <br>
        Adresa: 
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <a href="https://www.google.com/maps/place/Kaplara+Mom%C4%8Dila+Gavri%C4%87a+5,+Beograd/@44.760533,20.4853838,17z/data=!3m1!4b1!4m5!3m4!1s0x475a711d7b3a0b43:0x9d94ad125ad20db0!8m2!3d44.7605292!4d20.4875725" target="_blank" > Kaplara Momčila Gavrića 5</a> 
        <br>
         Druga adresa: 
         <i class="fa fa-map-marker" aria-hidden="true"></i>
         <a href="https://www.google.com/maps/place/Bulevar+Zorana+%C4%90in%C4%91i%C4%87a+125,+Beograd/@44.8198183,20.4101403,17z/data=!3m1!4b1!4m5!3m4!1s0x475a65855986f3ff:0x13be34ee9aedf60!8m2!3d44.8198183!4d20.412329" target="_blank" > Bulevar Zorana Đinđića 125a</a> 
        <br>
        <br>
        Autobuske linije koje vode direktno do naših prodavnica: 17, 18, 49, 50
        </p>

    
</div>

<div>
    <h4>Način plaćanja
    <i class="fa fa-caret-down fa-lg" (click)="toggleData5()"></i>
</h4>
</div>
<div *ngIf="toDisplay5">
    <p> 
       Za sve naše krisnike omogućena je besplatna dostava, a PDV je uključen u cenu.
       <br>
       Plaćanje je moguće pouzećem, ili putem platnih kartica.
       <br>
       <img class="slika" src="https://www.kemoimpex.com/upload/images/zoom/vrste_plaanja_1.png" alt="">
    </p>
    
</div>

<div>
<div>
    <h4>Radno vreme
    <i class="fa fa-caret-down fa-lg" (click)="toggleData3()"></i>
</h4>
</div>
<div *ngIf="toDisplay3">
    <p>Prodavnice su otvorene svakog radnog dana od 9-15h.
        <br>
        Ukoliko proizvode naručujete online, naša e-prodavnica Vam je dostupna 24h, 7 dana u nedelji. 
    </p>
    
</div>
<br>
<div>
    <h4>Još uvek imate pitanja?</h4>
   <h4> <img src="https://img.freepik.com/free-vector/call-center-service-illustration_24877-52388.jpg" alt="">
    <h5>Pozovite nas!</h5>
   </h4>
</div>
<br>
<div>
    <h4>Kontakt telefon
    <i class="fa fa-caret-down fa-lg" (click)="toggleData4()"></i>
</h4>
</div>
<div *ngIf="toDisplay4">
    <p>Ako imate dodatne nedoumice, naši operteri su Vam dostupni 24/7.
             <br>
       
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a href="tel:0644851058" onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});">064/485-1058</a>
            
            <br>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a href="tel:0113652551" onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});">011/365-2551</a>
            
            <br>
            <br>
            Možete nas kontaktirati i putem mail adrese.
            <br>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <a href="mailto:someone@something.com">merilegendShop@gmail.com</a> 
    </p>
    
</div>
<br>
<hr>
<div>
   <h4> <img class="block" src="./assets/aa.png" alt=""> </h4>
</div>






