<div class="container" style="margin-top: 10%;"> 
  <h3> Prirodna kozmetika: šta je i zašto treba da bude vaš izbor? </h3>


  <div class="row">

   
      <div class="col-6">
        <img src="https://cdn.webshopapp.com/shops/50899/themes/177616/v/921891/assets/banner-3.png?20211019161049"
          alt="" /> 
      </div>

     
    <div class="col-6"> <marquee behavior="slide" direction="up" scrollAmount="5">
      Vodite računa o onome što jedete i pijete, jer želite da znate koje
      namirnice ulaze u vaš organizam. Brine vas zagađen vazduh i ostali štetni
      faktori iz okoline. Ali, da ste se ikada zapitali koje štetne supstance
      završavaju preko kože u vašem organizmu? Industrijska kozmetika sadrži
      mnogo jeftinih sastojaka koji mogu imati izuzetni štetan uticaj na naše
      zdravlje. Kao što želimo da znamo šta se nalazi u onome što jedemo, tako
      bi trebalo i da budemo svesni šta to sve nanosimo na kožu. Kada to imamo u
      vidu, jasno nam je da postoji ozbiljan rizik po naše zdravlje.
    </marquee>
    </div>

    <div class="col-6"> <marquee behavior="slide" direction="up" scrollAmount="5">
      Sve ove podatke navodimo ne da bismo vas uplašili, već da biste razmislili
      o bezbednijim alternativama. A jedna od njih je svakako i prirodna
      kozmetika. Ako želite da saznate više o njoj i zašto je odličan izbor za
      svakoga ko se brine o svom zdravlju, nastavite da čitate. Kada uzmemo u
      obzir samo ono što redovno koristimo, dolazimo do u proseku 10 različitih
      kozmetičkih proizvoda dnevno.To znači da preko kože unesemo tokom dana
      preko 100 hemikalija. Zato što je koža naš najveći organ i apsorbuje oko
      60% onoga što na nju stavimo.
    </marquee>
    </div>
    <div class="col-6">
      <img
        src="https://www.naturalproductsinsider.com/sites/naturalproductsinsider.com/files/bb1b7f90cfe44d69b62bfd3b9cfdbcc5.jpg"
        alt="" />
    </div>

    <div class="col-6">
      <img
        src="https://st.depositphotos.com/1112607/1275/i/950/depositphotos_12755442-stock-photo-cosmetics-with-ivy.jpg"
        alt="" />
    </div>
    <div class="col-6"> <marquee behavior="slide" direction="up" scrollAmount="5">
      Koža prosečne žene koja se svakog dana šminka tokom života upije oko 2
      kilograma šminke. Deo toga su i ruževi za usne. A rezultati Kampanje za
      sigurnu kozmetiku od pre desetak godina su pokazali da 61% karmina
      popularnih brendova sadrži olovo. Ideja prirodne i organske kozmetike je
      da priroda nudi sve što je potrebno kako bi naša koža izgledala zdravo i
      sjajno. Većina hemijskih supstanci njih može biti štetna za naš organizam.
      Prirodni sastojci sa druge strane podržavaju prirodne procese regeneracije
      kože.
    </marquee>
    </div>
 
    <div class="col-6"> <marquee behavior="slide" direction="up" scrollAmount="5">
      Pošto nude nežnu i zdravu negu, prirodni proizvodi su korisni za zdravlje
      vaše kože u bilo kojim godinama života. Mnogi proizvođači kozmetike svoje
      proizvode označavaju kao prirodne jer se tako ti proizvodi bolje prodaju.
      Međutim, u velikom broju slučajeva ovi proizvodi sadrže prirodne sastojke
      samo u tragovima i izrađeni su od sintetičkih i veštačkih komponenata. S
      druge strane, naši proizvodi su izrađeni isključivo od prirodnih sastojaka
      i po tome se razlikuju i od većine drugih proizvoda, koje u sebi mogu
      sadržati i određen deo veštačkih sastojaka.
    </marquee>
    </div>

    <div class="col-6">
      <img src="https://naturalgreen.gr/img/cms/slidermacrovita.png" alt="" />
    </div>
  </div>

</div>
<div>
  <br />
  <h4>
    Merilegend beauty lab odlikuje veliki broj zadovoljnih korisnika,
    <br />
    kao i pristupačne cene i širok asortiman prirodnih proizvoda.

  </h4>


  <br />
  <div>
    <app-footer></app-footer>
  </div>
</div>