<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
<br>
<h2>Detalji porudžbine &nbsp; <button *ngIf="order" type="button" (click)="delete()" class="btn btn-secondary btn-sm " >Otkaži porudžbinu</button></h2>
<h5 *ngIf="!order">
  Trenutno nemate nijednu porudžbinu.
  </h5>
  <p *ngIf="!order">
    Kliknite
    <a href="/products">ovde</a>
    kako biste nastavili sa kupovinom.
  </p>
<br>
<div *ngIf="order" class="card" style="width: 55rem;">
   
    <div class="card-body">
        <h4 class="card-text">Lista poručenih proizvoda</h4>
        <hr>
      <div *ngFor="let o of order.items">
        <p class="card-text">
            Naziv proizvoda : {{ o.product.title }} <img [src]="o.product.imageUrl" class="thumbnail">
            <br>
            Količina: {{ o.quantity }}
            <br>
            Cena: {{ o.product.price }} RSD
            <br>
        </p> 
        <hr>
      </div>
      <br>

      <h4 class="card-text">Podaci o poručiocu</h4>
      <hr>
      <p>
          Ime i prezime: {{ order?.shipping?.name }}
          <br>
          Telefon: {{ order?.shipping?.telefon }}
          <br>
          Broj platne kartice: {{ order?.shipping?.brojKartice }}
          <br>
        </p>
    </div>
</div>
</div>
<br>
<div class="col-1"></div>
</div>

</div>

  