
<div class="container">
    <h1>Registracija<img class="rounded-circle" src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" alt="Bootstrap" width="60" height="50 ">
</h1>
    <hr />
    
    <div class="row">
    
      <div class="col">
        <br>
        <br>
        <br>
        <h3>Registruj se brzo i lako putem Google naloga </h3>
    
        <br />
        <br>
   
        <button
          class="btn btn-secondary"
          
          (click)="login()"
          routerLinkActive="active"
        >
          Google registracija
        </button>
         <br>
         <br>
         <br>
      </div>



