.container{
  
    padding-top: 30px;
    
  }

  .container {
    background: -webkit-linear-gradient(right, #f7dfcf , #e3deda );
    border-radius: 30px;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 3%;
  }
  
  hr{
      border: 1px solid rgb(18, 18, 18);
  }
  
  .col-4{
    border-top: 3px solid rgb(248, 247, 246);
    border-radius: 10px;
    padding-bottom: 10px;
    
  }
  .alert{
    width: 60%;
  }

  .btn{
    border-radius: 10px;
    border: 2px solid #080808
}

.btn:hover{
    background-color: rgb(183, 177, 171);
}

input{
  width: 10%;
  border-radius: 10px;
  
  }

  img{
    width: 405px;
    height: 60px;
    border-radius: 10px;
    
  }
