th,
td {
  border: 2px solid rgb(245, 240, 240);
  text-align: left;
}

th {
  background-color: #edc2a0;
}
td {
  height: 50px;
  vertical-align: middle;
  line-height: normal;
}

tr:nth-child(even) {
  background-color: #f6e6d9;
}

h1{
  color: #844616;
}
