img{
    height: 60px;
    width: 200px;
    border: 2px solid #c39776;
    border-radius: 15%;
    left: 50%;
}



.rounded-circle{
  height: 45px;
  width: 50px;
  border: 1px solid #c39776;
}

.navbar-brand{
  margin-left: 74%;
}

.badge{
  border-radius: 10px;
}

.btn{

  width: 150px;
  height: 38px;  
  border: 2px solid #0b0b0b;

}
.btn:hover{
  background-color: #c7c6c6;
}

.dropdown-menu{
    margin-left: -80px;
    margin-top: 10px; 
    text-align:center;
    border: 1px solid rgb(32, 31, 31);
    border-radius: 10px;
}  

.collapse{
  margin-bottom: -1%;
}





  